html,body { margin: 0px; width: 100%; font-family: 'PingHei';}
@font-face {
	font-family: 'PingHei';
	src: url(../fonts/PingHei/PingHei-light.ttf);
}
.pag_fr, .pag_fr_text {
	color: #444;
	height: 25px;
	font-size: 14px;
	margin: 0px 2px;
	line-height: 25px;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #CCC;
	-webkit-transition:all .3s ease-in-out;
}

.pag_fr_text {
	width: 55px;
	border-radius: 12.5px;
}

.pag_fr {
	width: 25px;
	border-radius: 50%;
}

.pag_fr:hover,.pag_fr_text:hover {
	color: #FFF;
	background-color: #F99;
	border: 1px solid rgba(255, 255, 255, 0);
}

.pag_selected {
	color: #FFF;
	background-color: #F99;
	border: 1px solid rgba(255, 255, 255, 0);
}

.rightNav {
	overflow: hidden;
	z-index: 1;
	position: absolute;
	right: -300px;
	top: 0px;
	width: 300px;
	height: 100%;
	background-color: #ABC;
	-webkit-transition:all .5s ease-in-out;
}

.icon {
	position: relative;
	left: 10%;
	display: inline-block;
	color: #FFF;
	line-height: 70px;
	font-weight: bold;
	font-size: 2em;
}

.rightNav>ul {
	position: relative;
	display: inline-block;
}

.nav_li {
	cursor: pointer;
	line-height: 28px;
	width: 130%;
	display: inline-block;
	color: #678;
	-webkit-transition:all .3s ease-in-out;
}

.nav_title {
	color: #FFF;
	line-height: 45px;
	font-size: 1.3em;
}

.nav_li:hover {
	color: #FFF;
}

.nav_end {
	position: relative;
	height: 30px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.nav_span {
	cursor: pointer;
	font-size: 1.4em;
	margin: 15px 13px;
	text-align: center;
	display: inline-block;
	color: #FFF;
	width: 30px;
	height: 30px;
	color: #678;
	-webkit-transition:all .3s ease-in-out;
}

.nav_span:hover {
	color: #345;
}

.cover {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 100%;
	width: 100%;
	opacity: 0.5;
	height: 100%;
	background-color: #333;
	-webkit-transition:all 1s ease-in-out;
}